body
{
    background-color: #dfe1ee;
}

#main
{
    width: 850px;
    position: relative;
    margin: 0px auto;
}
#cabecalho
{
    background-color: #5f72a9;
    width: 850px;
    height: 360px;
    position: relative;
}
#nome
{
    font-size: Helvetica;
    color: #fff;
    position: absolute;
    left: 200px;
    top: 300px;
}
#subtitle
{
    font-size: Helvetica;
    color: #fff;
    position: absolute;
    left: 200px;
    top:320px;
}
#botoes
{
    position: absolute;
    top: 320px;
    right: 20px;
    
}
#boxinf
{
    width: 850px;
    height: 40px;
    background-color: #fff;
    top: 350px;
    position: relative;
}
#imagem{
    width: 150px;
    height: 150px;
    background-color: lightcoral;
    position: relative;
    top: -120px;
    left: 25px;
}
#botoesbox
{
    position: absolute;
    top: 12px;
    left: 190px;
}
#caixaEsquerda
{
    width: 328px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-right: 5px;
}
#caixaDireita
{
    display: inline-block;
    width: 512px;
    height: 1000px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#caixa1
{
    width: 328px;
    height: 150px;
    background-color: #fff;
}

#caixa2
{
    width: 328px;
    height: 200px;
    background-color: #fff;
}

#caixa3
{
    width: 512px;
    height: 300px;
    background-color: #fff;
}

#caixa4
{
    width: 512px;
    height: 250px;
    background-color: #fff;
}

#caixa5
{
    width: 328px;
    height: 450px;
    background-color: #fff;
}

#caixa6
{
    width: 328px;
    height: 450px;
    background-color: #fff;
}

#caixa7
{
    width: 512px;
    height: 400px;
    background-color: #fff;
}

#caixa8
{
    width: 512px;
    height: 360px;
    background-color: #fff;
}
#caixa1-2
{
    width: 328px;
    height: 30px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
#caixa1-3
{
    width: 328px;
    height: 30px;
}

#embaixo {
    width: 850px;
    position: relative;
    margin-top: 3rem;
}

#embaixo > div > div {
    margin-bottom: 1.5rem;
}